[submodule ".vim/pack/vim-pack-colors"]
	path = .vim/pack/vim-pack-colors
	url = git@github.com:magicmonty/vim-pack-colors.git
  ignore = dirty
[submodule ".vim/pack/vim-pack-osx"]
	path = .vim/pack/vim-pack-osx
	url = git@github.com:magicmonty/vim-pack-osx.git
  ignore = dirty
[submodule ".vim/pack/vim-pack-dotnet"]
	path = .vim/pack/vim-pack-dotnet
	url = git@github.com:magicmonty/vim-pack-dotnet.git
  ignore = dirty
[submodule ".vim/pack/vim-pack-git"]
	path = .vim/pack/vim-pack-git
	url = git@github.com:magicmonty/vim-pack-git.git
  ignore = dirty
[submodule ".vim/pack/vim-pack-clojure"]
	path = .vim/pack/vim-pack-clojure
	url = git@github.com:magicmonty/vim-pack-clojure.git
  ignore = dirty
[submodule ".vim/pack/vim-pack-blog"]
	path = .vim/pack/vim-pack-blog
	url = git@github.com:magicmonty/vim-pack-blog.git
  ignore = dirty
[submodule ".vim/pack/vim-pack-general"]
	path = .vim/pack/vim-pack-general
	url = git@github.com:magicmonty/vim-pack-general.git
  ignore = dirty
[submodule ".vim/pack/vim-pack-nvim"]
	path = .vim/pack/vim-pack-nvim
	url = git@github.com:magicmonty/vim-pack-neovim.git
  ignore = dirty
